
<style>

    .sort{
    width: 11rem;
    margin-left: auto;
}
.sortby{
    margin-left:auto;
}
</style>

<body>
    <div class="container">
     <div class="explore-now row me-5">
        <div class="col-lg-6 d-inline">
            <p class="fs-4 ms-5 mt-2">
                Explore <strong class="fs-3">72 missions</strong>
            </p>
        </div>


        <div class="col-lg-6 d-flex mt-3 sortby mb-3">
            <div class="sort">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Sort by</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="ms-5 ">

               <a class="btn-grid" href="">
        <i class="bi bi-grid-1x2-fill"></i>
        </a>

               <a class="btn-list" href="">
            <i class="bi bi-list"></i>
            </a>
            </div>
        </div>
    </div>
    </div>

     @*------------------------------------------------CARDS-------------------------------------------------*@
    <div class="container grid-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="d-inline imgdiv position-relative">

                        <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="card-img-top missionimg" alt="...">
                        <button class="img-btn position-absolute " type="button"><img src="../images/pin.png"
                                class="d-inline me-1" />
                            <p class="d-inline">melbourne</p>
                        </button>
                        <button class="img-btn-2 position-absolute" type="button"><img src="../images/heart.png"
                                width="20px" height="20px" /></button>
                        <button class="img-btn-3 position-absolute" type="button"><img src="../images/eye.png"
                                width="20px" height="20px" /></button>
                                    <div class="rule" style="margin-top:-20px !important;">
                        <hr>
                        <button class="hrbtn-img">Enviroment</button>
                        <hr>
                    </div>

                    </div>
                

                    <div class="card-body">
                        <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text text-secondary">Some quick example text to build on the card title and make
                            up
                            the bulk
                            of the card's content.</p>

                        <div class="d-flex">
                            <div class="card-text">Tree Canada</div>
                            <div class="ms-auto">
                                <img src="/images/star.png" class="star">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                            </div>
                        </div>
                        <div class="rule mt-1">
                            <hr>
                            <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>


                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">10</p>
                                    <p class="seat">Seats Left</p>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                    <p class="seat">Deadline</p>
                                </div>

                            </div>

                        </div>

                        <div class="text-center">
                            <a asp-controller="Home" asp-action="Storylisting"  class="btn cardbtn mx-auto "><span>Story listing</span> <img class="ms-1"
                                    src="/Images/right-arrow.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="d-inline imgdiv position-relative ">

                        <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="card-img-top missionimg" alt="...">
                        <button class="img-btn position-absolute" type="button"><img src="../images/pin.png"
                                class="d-inline me-1" />
                            <p class="d-inline">Toronto</p>
                        </button>
                        <button class="img-btn-2 position-absolute" type="button"><img src="../images/heart.png"
                                width="20px" height="20px" /></button>
                        <button class="img-btn-3 position-absolute" type="button"><img src="../images/eye.png"
                                width="20px" height="20px" /></button>

                                    <div class="rule" style="margin-top:-20px !important;">
                        <hr>
                        <button class="hrbtn-img">Enviroment</button>
                        <hr>
                    </div>

                    </div>
                

                    <div class="card-body">
                        <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text text-secondary">Some quick example text to build on the card title and make
                            up
                            the bulk
                            of the card's content.</p>

                        <div class="d-flex">
                            <div class="card-text">Tree Canada</div>
                            <div class="ms-auto">
                                <img src="/images/star.png" class="star">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                            </div>
                        </div>
                        <div class="rule mt-1">
                            <hr>
                            <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>


                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">10</p>
                                    <p class="seat">Seats Left</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                    <p class="seat">Deadline</p>
                                </div>

                            </div>

                        </div>

                        <div class="text-center">
                            <a asp-controller="Home" asp-action="volunteering"   class="btn cardbtn mx-auto "><span>volunteering</span> <img class="ms-1"
                                    src="/Images/right-arrow.png"></a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="d-inline imgdiv position-relative">

                        <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="card-img-top missionimg" alt="...">
                        <button class="img-btn position-absolute" type="button"><img src="../images/pin.png"
                                class="d-inline me-1" />
                            <p class="d-inline">Toronto</p>
                        </button>
                        <button class="img-btn-2 position-absolute" type="button"><img src="../images/heart.png"
                                width="20px" height="20px" /></button>
                        <button class="img-btn-3 position-absolute" type="button"><img src="../images/eye.png"
                                width="20px" height="20px" /></button>

                                     <div class="rule" style="margin-top:-20px !important;">
                        <hr>
                        <button class="hrbtn-img">Enviroment</button>
                        <hr>
                    </div>

                    </div>
               

                    <div class="card-body">
                        <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text text-secondary">Some quick example text to build on the card title and make
                            up
                            the bulk
                            of the card's content.</p>

                        <div class="d-flex">
                            <div class="card-text">Tree Canada</div>
                            <div class="ms-auto">
                                <img src="/images/star.png" class="star">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                            </div>
                        </div>
                        <div class="rule mt-1">
                            <hr>
                            <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>


                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">10</p>
                                    <p class="seat">Seats Left</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                    <p class="seat">Deadline</p>
                                </div>

                            </div>

                        </div>

                        <div class="text-center">
                            <a asp-controller="Home" asp-action="nomissionfound" class="btn cardbtn mx-auto "><span>no-mission</span> <img class="ms-1"
                                    src="/Images/right-arrow.png"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- card-1 over -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="d-inline imgdiv position-relative">

                        <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="card-img-top missionimg" alt="...">
                        <button class="img-btn position-absolute" type="button"><img src="../images/pin.png"
                                class="d-inline me-1" />
                            <p class="d-inline">Toronto</p>
                        </button>
                        <button class="img-btn-2 position-absolute" type="button"><img src="../images/heart.png"
                                width="20px" height="20px" /></button>
                        <button class="img-btn-3 position-absolute" type="button"><img src="../images/eye.png"
                                width="20px" height="20px" /></button>

                                                    <div class="rule" style="margin-top:-20px !important;">
                        <hr>
                        <button class="hrbtn-img">Enviroment</button>
                        <hr>
                    </div>

                    </div>


                    <div class="card-body">
                        <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text text-secondary">Some quick example text to build on the card title and make
                            up
                            the bulk
                            of the card's content.</p>

                        <div class="d-flex">
                            <div class="card-text">Tree Canada</div>
                            <div class="ms-auto">
                                <img src="/images/star.png" class="star">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                            </div>
                        </div>
                        <div class="rule mt-1">
                            <hr>
                            <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>


                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">10</p>
                                    <p class="seat">Seats Left</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                    <p class="seat">Deadline</p>
                                </div>

                            </div>

                        </div>

                        <div class="text-center">
                            <a href="#" class="btn cardbtn mx-auto "><span>Apply</span> <img class="ms-1"
                                    src="/Images/right-arrow.png"></a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="d-inline imgdiv position-relative">

                        <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="card-img-top  missionimg" alt="...">
                        <button class="img-btn position-absolute" type="button"><img src="../images/pin.png"
                                class="d-inline me-1" />
                            <p class="d-inline">Toronto</p>
                        </button>
                        <button class="img-btn-2 position-absolute" type="button"><img src="../images/heart.png"
                                width="20px" height="20px" /></button>
                        <button class="img-btn-3 position-absolute" type="button"><img src="../images/eye.png"
                                width="20px" height="20px" /></button>

                    </div>
                    <div class="rule" style="margin-top:-20px !important;">
                        <hr>
                        <button class="hrbtn-img">Enviroment</button>
                        <hr>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text text-secondary">Some quick example text to build on the card title and make
                            up
                            the bulk
                            of the card's content.</p>

                        <div class="d-flex">
                            <div class="card-text">Tree Canada</div>
                            <div class="ms-auto">
                                <img src="/images/star.png" class="star">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                            </div>
                        </div>
                        <div class="rule mt-1">
                            <hr>
                            <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>


                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">10</p>
                                    <p class="seat">Seats Left</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                    <p class="seat">Deadline</p>
                                </div>

                            </div>

                        </div>

                        <div class="text-center">
                            <a href="#" class="btn cardbtn mx-auto "><span>Apply</span> <img class="ms-1"
                                    src="/Images/right-arrow.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="d-inline imgdiv  position-relative">

                        <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="card-img-top  missionimg" alt="...">
                        <button class="img-btn position-absolute" type="button"><img src="../images/pin.png"
                                class="d-inline me-1" />
                            <p class="d-inline">Toronto</p>
                        </button>
                        <button class="img-btn-2 position-absolute" type="button"><img src="../images/heart.png"
                                width="20px" height="20px" /></button>
                        <button class="img-btn-3 position-absolute" type="button"><img src="../images/eye.png"
                                width="20px" height="20px" /></button>

                                         <div class="rule" style="margin-top:-20px !important;">
                        <hr>
                        <button class="hrbtn-img">Enviroment</button>
                        <hr>
                    </div>

                    </div>
           

                    <div class="card-body">
                        <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text text-secondary">Some quick example text to build on the card title and make
                            up
                            the bulk
                            of the card's content.</p>

                        <div class="d-flex">
                            <div class="card-text">Tree Canada</div>
                            <div class="ms-auto">
                                <img src="/images/star.png" class="star">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                            </div>
                        </div>
                        <div class="rule mt-1">
                            <hr>
                            <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>


                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">10</p>
                                    <p class="seat">Seats Left</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                    <p class="seat">Deadline</p>
                                </div>

                            </div>

                        </div>

                        <div class="text-center">
                            <a href="#" class="btn cardbtn mx-auto "><span>Apply</span> <img class="ms-1"
                                    src="/Images/right-arrow.png"></a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="d-inline imgdiv position-relative">

                        <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="card-img-top  missionimg" alt="...">
                        <button class="img-btn position-absolute" type="button"><img src="../images/pin.png"
                                class="d-inline me-1" />
                            <p class="d-inline">Toronto</p>
                        </button>
                        <button class="img-btn-2 position-absolute" type="button"><img src="../images/heart.png"
                                width="20px" height="20px" /></button>
                        <button class="img-btn-3 position-absolute" type="button"><img src="../images/eye.png"
                                width="20px" height="20px" /></button>

                                              <div class="rule" style="margin-top:-20px !important;">
                        <hr>
                        <button class="hrbtn-img">Enviroment</button>
                        <hr>
                    </div>

                    </div>
      

                    <div class="card-body">
                        <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text text-secondary">Some quick example text to build on the card title and make
                            up
                            the bulk
                            of the card's content.</p>

                        <div class="d-flex">
                            <div class="card-text">Tree Canada</div>
                            <div class="ms-auto">
                                <img src="/images/star.png" class="star">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                            </div>
                        </div>
                        <div class="rule mt-1">
                            <hr>
                            <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>


                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">10</p>
                                    <p class="seat">Seats Left</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                    <p class="seat">Deadline</p>
                                </div>

                            </div>

                        </div>

                        <div class="text-center">
                            <a href="#" class="btn cardbtn mx-auto "><span>Apply</span> <img class="ms-1"
                                    src="/Images/right-arrow.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="d-inline imgdiv position-relative">

                        <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="card-img-top  missionimg" alt="...">
                        <button class="img-btn position-absolute" type="button"><img src="../images/pin.png"
                                class="d-inline me-1" />
                            <p class="d-inline">Toronto</p>
                        </button>
                        <button class="img-btn-2 position-absolute" type="button"><img src="../images/heart.png"
                                width="20px" height="20px" /></button>
                        <button class="img-btn-3 position-absolute" type="button"><img src="../images/eye.png"
                                width="20px" height="20px" /></button>
                                                    <div class="rule" style="margin-top:-20px !important;">
                        <hr>
                        <button class="hrbtn-img">Enviroment</button>
                        <hr>
                    </div>
                    </div>


                    <div class="card-body">
                        <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text text-secondary">Some quick example text to build on the card title and make
                            up
                            the bulk
                            of the card's content.</p>

                        <div class="d-flex">
                            <div class="card-text">Tree Canada</div>
                            <div class="ms-auto">
                                <img src="/images/star.png" class="star">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                            </div>
                        </div>
                        <div class="rule mt-1">
                            <hr>
                            <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>


                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">10</p>
                                    <p class="seat">Seats Left</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                    <p class="seat">Deadline</p>
                                </div>

                            </div>

                        </div>

                        <div class="text-center">
                            <a href="#" class="btn cardbtn mx-auto "><span>Apply</span> <img class="ms-1"
                                    src="/Images/right-arrow.png"></a>
                        </div>
                    </div>
                </div>

            </div>

                        <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="d-inline imgdiv position-relative">

                        <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="card-img-top  missionimg" alt="...">
                        <button class="img-btn position-absolute" type="button"><img src="../images/pin.png"
                                class="d-inline me-1" />
                            <p class="d-inline">Toronto</p>
                        </button>
                        <button class="img-btn-2 position-absolute" type="button"><img src="../images/heart.png"
                                width="20px" height="20px" /></button>
                        <button class="img-btn-3 position-absolute" type="button"><img src="../images/eye.png"
                                width="20px" height="20px" /></button>
                                                    <div class="rule" style="margin-top:-20px !important;">
                        <hr>
                        <button class="hrbtn-img">Enviroment</button>
                        <hr>
                    </div>
                    </div>


                    <div class="card-body">
                        <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                        <p class="card-text text-secondary">Some quick example text to build on the card title and make
                            up
                            the bulk
                            of the card's content.</p>

                        <div class="d-flex">
                            <div class="card-text">Tree Canada</div>
                            <div class="ms-auto">
                                <img src="/images/star.png" class="star">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                                <img src="/Images/star-empty.png" class="star" alt="">
                            </div>
                        </div>
                        <div class="rule mt-1">
                            <hr>
                            <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                            <hr>
                        </div>


                        <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">10</p>
                                    <p class="seat">Seats Left</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <img src="../Images/deadline.png" height="33px" width="33px" alt="">
                                <div class="d-flex flex-column ms-2">
                                    <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                    <p class="seat">Deadline</p>
                                </div>

                            </div>

                        </div>

                        <div class="text-center">
                            <a href="#" class="btn cardbtn mx-auto "><span>Apply</span> <img class="ms-1"
                                    src="/Images/right-arrow.png"></a>
                        </div>
                    </div>
                </div>

            </div>



 
        </div>
    </div>

 @*   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>*@

<script>
    function showList(e) {
     var imgdiv = document.querySelectorAll('.imgdiv');
     var missionimg = document.querySelectorAll('.missionimg');
     
    var $gridCont = $('.grid-container');
    e.preventDefault();
    //$gridCont.hasClass('list-view') ? $gridCont.removeClass('list-view') : $gridCont.addClass('list-view');
    $gridCont.removeClass('grid-view');
    $gridCont.addClass('list-view');
    for(var item of imgdiv){
        item.style.width = "36%";
    }

    //for(var item1 of missionimg){
    //    item.style.width = "100%";
    //}
    
    
    
  }
  function gridList(e) {
    var imgdiv = document.querySelectorAll('.imgdiv');
     var missionimg = document.querySelectorAll('.missionimg');
    var $gridCont = $('.grid-container')
    e.preventDefault();
    //$gridCont.removeClass('list-view');
  
     $gridCont.removeClass('list-view');
    $gridCont.addClass('grid-view');
    for(var item of imgdiv){
        item.style.width = "100%";
    }

     for(var item of missionimg){
       item.style.width = "100%";
    }

  

  }
  
  $(document).on('click', '.btn-grid', gridList);
  $(document).on('click', '.btn-list', showList);

</script>

@*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="/js/JS/LandingPage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez"> </script>
*@

    </body>